.tamOrderBook {

}

.tamOrderBook-content {
  width: 320px;
  /*height: 800px;*/
}

.tamOrderBook-sellLayout {
  display: flex;
  flex-direction: column-reverse;
  height: 400px;
}

.tamOrderBook-buyLayout {
  height: 400px;
}

.tamOrderBook-sellGridList {
  max-height: 400px;
}

.tamOrderBook-buyGridList {
  max-height: 400px;
}

.tamOrderBook svg {
  width: 12px;
}

.tamOrderBook-title {
  white-space: nowrap;
}

.tamOrderBook-sellPrice {
  color: var(--uitk-color-red-600);
}

.tamOrderBook-buyPrice {
  color: var(--uitk-color-green-600);
}

.tamOrderBook-amount {

}

.tamOrderBook-total {
  text-align: right;
}

.tamOrderBook-lastPricePanel {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  border: solid 1px var(--uitk-container-borderColor-high);
  padding: var(--uitk-size-unit);
}