.tamOrderBook {

}

.tamOrderBook-content {
  width: 320px;
  /*height: 800px;*/
}

.tamOrderBook-sellLayout {
  display: flex;
  flex-direction: column-reverse;
  /*height: 400px;*/
}

.tamOrderBook-buyLayout {
  /*height: 400px;*/
}

.tamOrderBook-sellTable {
  height: 200px;
  width: 320px;
  --bar-background: var(--tam-negative-background);
}

.tamOrderBook-buyTable {
  height: 200px;
  width: 320px;
  --bar-background: var(--tam-positive-background);
}

.tamOrderBook-title {
  white-space: nowrap;
}

.tamOrderBook-sellPrice {
  color: var(--tam-negative-color);
}

.tamOrderBook-buyPrice {
  color: var(--tam-positive-color);
}

.tamOrderBook-amount {

}

.tamOrderBook-total {
  /*background-color: #7dc3f2;*/
}

.tamOrderBook-totalBar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: var(--bar-background);
}

.tamOrderBook-totalValue {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  padding: var(--uitkTable-cell-padding);
}

.tamOrderBook-lastPricePanel {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  border: solid 1px var(--uitk-container-borderColor-high);
  padding: var(--uitk-size-unit);
}