.tamOrderBook {

}

.tamOrderBook-content {
  width: 320px;
  /*height: 800px;*/
}

.tamOrderBook-sellLayout {
  display: flex;
  flex-direction: column-reverse;
  /*height: 400px;*/
}

.tamOrderBook-buyLayout {
  /*height: 400px;*/
}

.tamOrderBook-sellGridList {
  max-height: 200px;
}

.tamOrderBook-buyGridList {
  max-height: 200px;
}

.tamOrderBook-title {
  white-space: nowrap;
}

.tamOrderBook-sellPrice {
  color: var(--tam-negative-color);
}

.tamOrderBook-buyPrice {
  color: var(--tam-positive-color);
}

.tamOrderBook-amount {

}

.tamOrderBook-total {
  text-align: right;
}

.tamOrderBook-lastPricePanel {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  border: solid 1px var(--uitk-container-borderColor-high);
  padding: var(--uitk-size-unit);
}