.tamTokenSelector {
}

.tamTokenSelector-expanderIcon {
  width: 12px;
  margin-top: 2px;
}

.tamTokenSelector-popup {
  --tamTokenSelector-padding: calc(var(--uitk-size-unit) * 3);

  width: 350px;
  height: 600px;
  position: relative;
  z-index: calc(var(--uitk-zIndex-tooltip) - 1);
}

.tamTokenSelector-popupContent {
  position: absolute;
  top: var(--tamTokenSelector-padding);
  right: var(--tamTokenSelector-padding);
  bottom: var(--tamTokenSelector-padding);
  left: var(--tamTokenSelector-padding);
}

.tamTokenSelector-searchIcon svg {
  width: 12px;
  margin-top: 4px;
}

.tamTokenSelector-cell {
  border-color: var(--uitk-separable-primary-borderColor);
  border-style: solid;
  border-width: 0 0 1px 0;
  height: var(--uitk-size-stackable);
  line-height: var(--uitk-size-stackable);
  padding: 0 var(--uitk-size-unit);
  white-space: nowrap;
}

.tamTokenSelector-favoriteIcon {
  width: 12px;
}

.tamTokenSelector-tokenPair {
}

.tamTokenSelector-lastPriceCell {
}

.tamTokenSelector-lastPrice {
  color: var(--uitk-color-green-600);
}

.tamTokenSelector-change {
  text-align: right;
}

.tamTokenSelector-positiveChange {
  color: var(--uitk-color-green-600);
}

.tamTokenSelector-negativeChange {
  color: var(--uitk-color-red-600);
}