.tamGridList {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tamGridList-header {
  position: absolute;
  background-color: var(--uitk-container-background-medium);
  border-color: var(--uitk-separable-primary-borderColor);
  border-style: solid;
  border-width: 0 0 1px 0;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
}

.tamGridList-body {
  flex-grow: 1;
  overflow-y: auto;
}

.tamGridList-contentContainer {
  display: grid;
}

.tamGridList-headerCell {
  height: var(--uitk-size-stackable);
  line-height: var(--uitk-size-stackable);
  padding: 0 var(--uitk-size-unit);
  font-size: var(--uitk-text-caption-fontSize);
  color: var(--uitk-palette-interact-secondary-foreground);
  white-space: nowrap;
}

.tamGridList-alignRight {
  text-align: right;
}

.tamGridList-cell {
  border-color: var(--uitk-separable-primary-borderColor);
  border-style: solid;
  border-width: 0 0 1px 0;
  height: var(--uitk-size-stackable);
  line-height: var(--uitk-size-stackable);
  padding: 0 var(--uitk-size-unit);
  white-space: nowrap;
}

.tamGridList-hover {
  background-color: var(--uitk-selectable-background-hover);
}