.uitkTableBaseCell {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;

  border-style: solid;
  border-top-color: var(--row-border-color);
  border-right-color: var(--column-separator-color);
  border-width: 1px 1px 0 0;

  white-space: nowrap;
  position: relative;
  font-size: var(--uitkTable-fontSize);
  font-weight: normal;
  z-index: var(--uitkTable-cell-zIndex);
}

.uitkTableBaseCell-selectedCell {
  background-color: var(--uitkTable-cell-backgroundColor-selected);
}

.uitkTableBaseCell-secondary {
  background-color: var(--uitkTable-backgroundColor-secondary);
}

.uitkTableBaseCell-valueContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--uitkTable-rowHeight) - 2px);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  --uitkTable-cell-padding: 0 calc(var(--uitkTable-padding) - 1px);
}

.uitkTableBaseCell-focused {
  border-style: dotted;
  border-width: 2px;
  border-color: var(--uitkTable-cursor-borderColor);
  line-height: calc(var(--uitkTable-rowHeight) - 4px);
  --uitkTable-cell-padding: 0 calc(var(--uitkTable-padding) - 2px);
}

.uitkTableBaseCell-editable {
  border-style: solid;
  border-width: 1px;
  border-color: var(--uitkTable-editableCell-borderColor);
}

.uitkTableBaseCell-editable:hover {
  border-color: var(--uitkTable-editableCell-borderColor-hover);
}
